.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_content{
    max-width: 1700px;
    margin: 0 auto;
    padding: 1.6rem;
}

/* img */

.cabecalho__logo{
    width: auto ;
    height: 4rem;
}

.cabecalho__icon{
    width: auto;
    height: 1.65rem;
}

.tema{
    width: auto;
    height: 2.3rem;
}

/* nav links */

ul {
    display: flex;
    gap: 2.5rem;
}

li{ list-style: none }

.nav__link{
    text-decoration: none;
    color: var(--secondary-color-gray);
    font-size: 1.65rem; 
    font-weight: 600;
    transition: 0.25s; 
}

.nav__link::after{ /* after: algum conteudo que vem depois do "objeto" (nesse caso, o texto/link) */ 
    content: " ";
    display: block;
    border-bottom: solid 0.2rem;
    color: var(--primary-color-blue);
    transform: scaleX(0);
    transition: 0.6s;
    transform-origin: 50%;  /* origem do transform (aonde ele inicia), se fosse 100% iniciaria na direita e 0% na esquerda*/
}

.nav__link:hover::after{
    transform: scaleX(1); 
}

.nav__link:hover{
    color: var(--primary-color-blue);
}


/* buttons */

.button{
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.5rem; 
    font-weight: 600;
    border-color: var(--secondary-color-gray); 
}

.button:hover{
    cursor: pointer;
}

.cabecalho__buttons{
    display: flex;
    gap: 2rem;
}

.button__cadastrar{
    background: var(--primary-color-blue);  
    border-color: var(--primary-color-blue); 
}

.button__tema{
    padding-left: 1rem;
    padding-right: 1rem;
}

.entrar{
    color: var(--primary-color-text); 
}

.cadastrar{
    color: var(--secondary-color-white); 
}

.link{
    padding: 0.8rem 2rem;
}

/* Responsividade */


